<div class="col-xl-3 col-lg-4 col-sm-6" style="margin-top: 48px; padding: 0 24px;">
    <div class="feature-section overflow-hidden">
        <div class="d-flex align-items-center">
            <img src="/imgs/Home/message-bold.svg" alt="message">
            <div class="feature-header-span"></div>
            <div class="text-white fs-5">Ask anything</div>
        </div>
        <p class="mt-3">Unlock the power of curiosity, Ask anything and let our AI unravel the answers for you!</p>
        <a href="/" class="d-flex align-items-center w-max-content">
            <div class="readmore-link">Read more</div>
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
</div>