.term-section {
    overflow: hidden;
    font-size: 18px;
}

.term-body-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    color: var(--color-primary);
    text-transform: uppercase;
    margin-bottom: 12px;
    line-height: 1.5;
    font-size: calc(18px + 2 * (100vw - 320px) / 1600);
    margin: 32px 0 8px;
}
.terms-body {
    padding: var(--py-auto) 0;
}
@media (max-width: 576px) {
    .term-body-title {
        font-size: 16px;
    }
    * {
        font-size: 16px;
    }
    .terms-body {
        padding: 0;
    }
}
