/* sidebar */
.wrapper {
    width: 300px;
    left: 100px;
    position: fixed;
    top: 0;
    background: #141d2b;
    height: 100vh;
    padding: 18px 15px;
    z-index: 3;
}
.searchBar {
    background: #0d121f;
    border: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    padding: 13px 15px 13px 50px;
    color: rgba(var(--title-color), 1);
    padding: 15px;
    display: flex;
    align-items: center;
}
.searchBar input {
    background: unset;
}
.roomLink {
    width: 100%;
    display: block;
    color: rgba(var(--title-color), 1);
    font-size: calc(16px + 4 * (100vw - 320px) / 1600);
    padding: 12px 15px;
    border-radius: 6px;
    -webkit-transition: all 0.5s ease;
    text-decoration: none;
    transition: all 0.5s ease;
}
.roomLink:hover {
    color: var(--color-primary);
}
.activeRoom {
    color: var(--color-primary);
    background-color: var(--light-primary);
}
.searchEntry {
    color: #fff;
    border: none;
    outline: none;
    padding-left: 12px;
    flex: 1;
    font-size: 16px;
}
.linksLst {
    list-style-type: none;
    margin-top: 24px;
    padding: 0;
    overflow: auto;
    height: 100%;
    padding-right: 8px;
    margin: 0;
}
.linksLst::-webkit-scrollbar {
    width: 3px;
    background-color: #2f4043;
}
.linksLst::-webkit-scrollbar-thumb {
    background-color: #35967a;
}

/* body */
.miniChat {
    position: relative;
    height: 100vh;
    background-color: #0a101a;
    margin-left: 400px;
}
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 430px;
    border-bottom: 1px solid rgba(var(--title-color), 0.15);
    width: calc(100% - 460px);
    padding: 24px 0;
    z-index: 1;
    background-color: #0a101a;
}
.trash {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: rgba(var(--title-color), 0.12) !important;
    backdrop-filter: blur(5px);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    cursor: pointer;
    justify-content: center;
    color: var(--color-primary) !important;
}
.chatEntry {
    padding: 8px 16px 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    color: rgba(var(--title-color), 0.7);
    -webkit-backdrop-filter: blur(5.5px);
    backdrop-filter: blur(5.5px);
    height: 60px;
    width: calc(100% - 60px - 10px);
    background: rgba(156, 157, 159, 0.25);
    position: relative;
    width: 100%;
}
.sendBtn {
    font-weight: bold;
    background: var(--color-primary);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
}
.chatContent {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.chatEntry input {
    background: unset !important;
    border: none;
    outline: none;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 18px !important;
    flex: 1;
}
.chatEntry input::placeholder {
    color: var(--text-light);
}
.entryWrapper {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 60px);
    display: flex;
    gap: 16px;
    align-items: center;
}
@media (max-width: 992px) {
    .wrapper {
        display: none;
    }
    .miniChat {
        margin-left: 100px;
    }
    .header {
        left: 130px;
        width: calc(100% - 160px);
    }
}
@media (max-width: 767px) {
    .miniChat {
        margin-left: 0;
    }
    .header {
        left: 30px;
        width: calc(100% - 60px);
    }
    .actionBtnBlock {
        display: none !important;
    }
    .messageBlock {
        padding: 100px 0 !important;
    }
}
@media (max-width: 576px) {
    .sendBtn {
        height: 48px;
        width: 48px;
    }
    .entryWrapper {
        width: calc(100% - 20px);
    }
    .header {
        left: 16px;
        width: calc(100% - 30px);
    }
    .chatEntry {
        height: 48px;
    }
    .chatEntry input {
        font-size: 14px !important;
    }
    .messageWrapper {
        padding: 0 14px !important;
    }
    .msgEntry {
        padding-left: 0 !important;
    }
}
.noChatImg {
    width: 70%;
}
.messageBlock {
    padding: 120px 0;
    height: 100%;
    overflow: hidden;
}
.messageWrapper {
    overflow: auto;
    padding: 0 30px;
    height: 100%;
}
.messageWrapper::-webkit-scrollbar {
    width: 6px;
}
.messageWrapper::-webkit-scrollbar-thumb {
    background-color: #35967a;
    border-radius: 4px;
}
.msgEntry {
    font-size: 16px !important;
}
