.px-auto {
    padding: 0 calc(15px + 85 * (100vw - 320px) / 1600);
}
@mixin horizontal {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: var(--color-primary);
}
// top
.top {
    background-image: url("/imgs/home-bg.jpg");
    background-size: cover;

    .top__body {
        padding-top: 120px;
        display: flex;
        justify-content: space-between;

        .top__label {
            font-size: 56px;
            font-family: play;
            font-weight: 700;
            transform: translateY(50px);
            transition: all 1s ease;
            opacity: 0;
        }

        .top__title {
            font-family: "Qwitcher Grypen";
            font-size: 52px;
            font-weight: 700;
            color: var(--color-primary);
            transform: translateY(50px);
            transition: all 1s ease;
            opacity: 0;

            &::before, &::after {
                @include horizontal();
                width: 50px;
                height: 1px;
            }
        }
    }
}
// body
.body {
    background: linear-gradient(181.21deg, rgba(255, 255, 255, 0.077) 1.03%, rgba(255, 255, 255, 0) 99.01%);
    padding-top: 85px;

    .body__title {
        color: var(--color-primary);
        font-size: 36px;
        display: flex;
        align-items: center;
        gap: 16px;
        font-weight: 600;

        &::after {
            @include horizontal();
            width: 50px;
        }
    }

    .body__content {
        display: flex;
        flex-wrap: wrap;

        .thumbnail {
            display: inline-block;
            width: calc(100% / 3);

            .img-wrapper {
                transition: all 0.5s ease;
                border: 20px solid #242831;
                display: inline-block;
            }

            .page-desc {
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                text-transform: capitalize;
                transition: all 0.5s ease;

                &::before {
                    @include horizontal();
                    width: 50px;
                    margin-bottom: 4px;
                    transition: all 0.5s ease;
                    background-color: #fff;
                }
            }

            &:hover {
                color: var(--color-primary);
                border-color: #1d3c3c;

                .img-wrapper {
                    border-color: #1c3937;
                }

                .page-desc::before {
                    background-color: var(--color-primary);
                }
            }
        }
    }

    .body__bottom {
        padding: 85px 0;

    }
}
.bottom__header {
    transition: all .5s ease;
    transform: translateY(100px);
    opacity: 0;
}
.bottom__title {
    color: var(--color-primary);
    font-size: 36px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    justify-content: center;

    &::before, &::after {
        @include horizontal();
    }
}
.core {
    background: rgba(255, 255, 255, 0.04);
    padding-top: 85px;

    .core__header {
        @extend .bottom__header;
    }

    .core__content {
        padding-top: 48px;
        padding-bottom: 85px;
    }

    .core__list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        row-gap: 24px;
    }

    .core__items {
        display: flex;
        justify-content: center;
        margin: 0 24px;
        transform: scale(0.8);
        opacity: 0;
        transition: all 1s ease;
    }

    .core__img-outter {
        border: 14px solid #000;
        border-radius: 50%;
        margin: auto;
    }

    .core__items:hover {
        .core__img-wrapper {
            background: #242831;
            border-style: solid;
        }

        .core__text {
            color: var(--color-primary);
        }
    }

    .core__text {
        transition: all 0.5s ease;
    }

    .core__img-wrapper {
        border: 1px dashed var(--color-primary);
        padding: 24px;
        border-radius: 50%;
        transition: all 0.5s ease;
    }
}
.footer {
    background-image: url("/imgs/GetStarted/footer-bg.jpg");
    background-size: cover;
    padding: 48px 0;
    border-top: 2px solid var(--color-primary);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .footer__img-outter {
        border: 10px solid #000;
        border-radius: 50%;
        margin: auto;
        transition: all 0.5s ease;
    }

    .footer__img-wrapper {
        transition: all 0.5s ease;
        border: 1px solid var(--color-primary);
        padding: 10px;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
    }
}
.start-btn {
    margin-top: 50px;
    display: inline-block;
}
.span {
    height: 20px;
    width: 1px;
    background: #666;
    margin: 0 12px;
}
.circle-wrapper {
    position: absolute;
    top: -100px;
    border-radius: 50%;
    border: 2px dashed var(--color-primary);
}
.AI-feature {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.laptop-title {
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 600;
}
.laptop-wrapper {
    gap: 60px;
    margin-top: 48px;

    .laptop-left {
        transform: translateX(100px);
        transition: all 1s ease;
        transition-delay: 1s;
        opacity: 0;
    }

    .laptop-right {
        transform: translateX(-100px);
        transition: all 1s ease;
        transition-delay: 1.5s;
        opacity: 0;
    }
}
.cursor-text {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    animation: cursorTextEffect 1s ease infinite;
}
@keyframes cursorTextEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.top__body__left {
    padding-bottom: 48px;
}
.nav-drop {
    display: none;
}

.nav-full {
    display: flex;
}