@page "/apps/blog-details"
@{
    ViewData["title"] = "Blog Detail";
}
<link rel="stylesheet" href="/css/Terms.css">
<link rel="stylesheet" href="/css/BlogDetail.css">

<section class="term-section light-text">
    <partial name="_Header" />
    <div>
        <div class="container">
            <intro 
                desc="Discover the most recent blogs about artificial intelligence here." 
                title="Blog Details" 
                img="/imgs/Terms/blog-details-vector.svg"
            ></intro>
            <div class="terms-body pb-0">
                <div class="chatgpt-img mb-5">
                    <img src="/imgs/BlogDetail/7.jpg" alt="photo" class="rounded-2 w-100 d-bloxk">
                    <div class="test position-absolute w-100 h-100 d-flex justify-content-center align-items-end top-0">
                        <div class="chatgpt-img-intro">
                            <h2 class="title"><a href="/">Leading 6 Modern Content Marketing Trends for 2023</a></h2>
                            <div class="author light-text d-flex align-items-center justify-content-center fs-6">
                                <div>
                                    <img src="/imgs/Home/2.jpg" alt="avatar" class="avatar">&nbsp;&nbsp;&nbsp;
                                    <span>Smith John</span>
                                </div>
                                <span class="span"></span>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;&nbsp;
                                    <span>14 march 2023</span>
                                </div>
                                <span class="span"></span>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-clock"></i>&nbsp;&nbsp;&nbsp;
                                    <span>5 min</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row detail-content">
                    <div class="col-lg-8 col-md-10 m-auto">
                        <div class="content-block">
                            <term-title>OVERVIEW</term-title>
                            <p>It may be difficult to keep up with the current trends in the fast-paced world of content marketing. However, if you want your company to stand out and develop, you must stay ahead of the competition.</p>
                            <p>It's time to examine your company's six most essential content marketing trends in further depth.</p>
                        </div>
                        <div class="content-block">
                            <term-title>HOW I MANAGE VIDEO CONTENT</term-title>
                            <p>To improve your video content, follow these tips :</p>
                            <ol>
                                <li class="mb-3">A few high-quality videos can have great marketing results. Don't chase quantity.</li>
                                <li class="mb-3">When used with  tripod, ring light, and a great camera, a mobile phone can do wonders.</li>
                                <li class="mb-3">When you are trying to raise your brand awareness, have in mind your brand's values. No matter of content format, remember who your customers are. Always align that knowledge with your brand story.</li>
                                <li class="mb-3">Use relevant keywords and include transcripts and captions. This will ensure your ideal customers will find you in a broad content landscape.</li>
                                <li class="mb-3">Internet users consume the majority of video content on mobile devices. This is why it is important to optimize your videos for mobile viewing. Use the vertical or square format and add captions. Also, optimize load times for a seamless mobile experience.</li>
                                <li class="mb-3">When it comes to video marketing, authenticity is key. You should avoid overly scripted or overly promotional content. Instead, strive for genuine, relatable videos that connect with your audience personally.</li>
                                <li class="mb-3">A strong CTA encourages viewers to take action after watching your video. Whether to visit your website, subscribe to your channel, or purchase.</li>
                                <li class="mb-3">Video analytics and feedback from your audience are important. Use your insights to refine and improve your video content strategy. Try experimenting with different video styles, lengths, and topics. In this way, you will see what resonates best with your audience.</li>
                            </ol>
                        </div>
                        <div class="content-block my-5">
                            <img src="/imgs/BlogDetail/8.jpg" alt="photo" class="rounded-2 w-100">
                        </div>
                        <div class="content-block">
                            <term-title>LIVE STREAMING</term-title>
                            <p>Another trend that's gaining momentum in the content marketing world is live streaming. Live streaming gives you the ability to connect with your audience in real time. This is an excellent way to build engagement and establish trust with your followers.</p>
                            <p>You can be hosting a Q&A session, launch a new product, or share behind-the-scenes content. With live streaming, you can showcase your brand's personality and connect with your audience more personally.</p>
                            <p>A few quick tips for incorporating live streaming into your marketing strategy :</p>
                            <ol>
                                <li class="mb-3">Plan ahead : Create a plan before going live. Ask yourself what your live stream's purpose, goals, and content are. Prepare everything you may need during the broadcast. That can be visuals, props, or talking points.</li>
                                <li class="mb-3">Promote your live stream : It is important to build anticipation and attract your viewers. You can do that by promoting your live stream across your social media channels, website, and email newsletters. Consider using teasers, countdowns, and reminders to generate interest and boost attendance</li>
                                <li class="mb-3">Interact with your audience : Engage with your viewers during the live stream. Respond to their questions, comments, and feedback in real time. Encourage engagement by asking questions, conducting polls, and offering incentives for participation.</li>
                                <li class="mb-3">Ensure valuable content : Your live stream should deliver valuable and relevant content to your audience. For example, tutorials, interviews, product demonstrations, behind-the-scenes glimpses, or exclusive offers. Keep your content engaging and informative to keep viewers interested.</li>
                                <li class="mb-3">Test your equipment and connection : Ensure a stable internet connection and test your equipment before going live. This includes cameras, microphones, and lighting. To avoid technical issues during the broadcast, you should use a backup connection or equipment.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-8 col-md-10 m-auto my-5">
                <div class="col-lg-8 col-md-10 m-auto">
                    <h3 class="fs-5 text-white mb-4">Comments</h3>
                    <div class="d-flex align-items-start mb-5 cmt-block">
                        <div class="cmt-body">
                            <div>
                                <img src="/imgs/Home/1.jpg" class="avatar" alt="avatar">
                            </div>
                            <div>
                                <div class="fs-14">30 Jan, 2022</div>
                                <div class="text-white fw-bold mb-2">Glenn Greer</div>
                                <div class="cmt-content">"This proposal is a win-win situation which will cause a stellar paradigm shift, and produce a multi-fold increase in deliverables a better understanding"</div>    
                            </div>
                        </div>
                        <button class="btn color-primary reply-btn">Reply</button>
                    </div>
                    <div class="d-flex align-items-start mb-5 cmt-block">
                        <div class="cmt-body">
                            <div>
                                <img src="/imgs/Home/2.jpg" class="avatar" alt="avatar">
                            </div>
                            <div>
                                <div class="fs-14">30 Jan, 2022</div>
                                <div class="text-white fw-bold mb-2">Glenn Greer</div>
                                <div class="cmt-content">"Yeah, I think maybe you do. Right, gimme a Pepsi free. Of course, the Enchantment Under The Sea Dance they're supposed to go to this, that's where they kiss for the first time. You'll find out. Are you sure about this storm?"</div>    
                            </div>
                        </div>
                        <button class="btn color-primary reply-btn">Reply</button>
                    </div>
                    <div class="d-flex align-items-start mb-5 ms-5 cmt-block">
                        <div class="cmt-body">
                            <div>
                                <img src="/imgs/Home/3.jpg" class="avatar" alt="avatar">
                            </div>
                            <div>
                                <div class="fs-14">30 Jan, 2022</div>
                                <div class="text-white fw-bold mb-2">Glenn Greer</div>
                                <div class="cmt-content">"Cheese slices goat cottage cheese roquefort cream cheese pecorino cheesy feet when the cheese comes out everybody's happy"</div>
                            </div>
                        </div>
                        <button class="btn color-primary reply-btn">Reply</button>
                    </div>
                    <div class="mt-2 mb-4">
                        <h4 class="text-white">Leave Comment</h4>
                        <p class="light-text">Your email address will not be published. Required fields are marked</p>
                        <form>
                            <div class="form-info">
                                <input class="form-control" type="text" placeholder="Full Name">
                                <input class="form-control" type="email" placeholder="Enter Email Address">
                            </div>
                            <textarea placeholder="Comments" class="form-control form-comment" rows="3"></textarea>
                            <button class="btn common-btn2 mt-4">Post Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Info" />
    <partial name="_Footer" />
</section>