@page "/apps/reset-password" 
@{
    ViewData["title"] = "Reset password";
}
<link rel="stylesheet" href="/css/Login.css">

<section class="login-section">
    <img src="/imgs/logo.svg" alt="logo" class="position-absolute logo">
    <div class="login-wrapper row">
        <div class="login__left col-lg-7">
            <img src="/imgs/Login/1.svg" alt="photo" class="foot-img">
            <img src="/imgs/Login/2.svg" alt="photo" class="light-img">
            <div>
                <img src="/imgs/Login/3.svg" alt="photo" class="head-img">
            </div>
        </div>
        <div class="login__right col-lg-5 col-xxl-4">
            <div class="login__right-wrapper flex-column d-flex">
                <h2 class="form-header color-primary mb-3">Reset password</h2>
                <p class="text-center light-text">When you provide your email address, we'll send you a message with information on how to reset.</p>
                <div class="form-wrapper h-100">
                    <div class="form-body flex-column h-100 d-flex justify-content-between">
                        <label for="email" class="w-100">
                            <span class="fs-18">Email ID</span>
                            <div class="login-entry mt-2">
                                <i class="fa-solid fa-envelope fs-5 light-text"></i>
                                <span class="entry-span"></span>
                                <input type="email" name="email" id="email" placeholder="Enter your mail id">
                            </div>
                        </label>
                        <button class="common-btn login-btn mb-3">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/Login.js"></script>