@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Outfit:wght@400;600;700;900&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Outfit:wght@400;600;700;900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Outfit:wght@400;600;700;900&family=Play:wght@400;700&family=Qwitcher+Grypen:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --color-primary: #3bedb2;
    --color-dark1: #0a1522;
    --color-dark2: #1e4240;
    --color-dark3: #0a0e17;
    --light-primary: #154346;
    --dark-primary: #0b1828;
    --title-color: 245, 245, 245;
    --py-auto: calc(40px + 60 * (100vw - 320px) / 1600);
    --text-light: rgb(175, 176, 182);
    --content-color: 156, 157, 159;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, #0a0e17, #0a0e17), linear-gradient(179.9deg, #0a5b75 -47.93%, #02111a 98.07%);
}
.color-primary {
    color: var(--color-primary);
}
.bg-primary {
    background-color: var(--color-primary);
}
.cursor-ptr {
    cursor: pointer;
}
.light-text {
    color: var(--text-light);
}
.fs-18 {
    font-size: 18px !important;
}
.common-btn3 {
    background-color: var(--color-primary) !important;
    color: #000 !important;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    border: none;
}
